<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CAAUGraphPlayThrough.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CAAUGraphPlayThrough2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CAAUGraphPlayThroughMEE.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>CAAUGraphPlayThroughMEE2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>CAAudioEnginePlayThroughMEE.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>CAAudioEnginePlayThroughMEE2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>CAAudioUnitPlayer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CAAudioUnitSpeech.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CAAudioUnitSpeech2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CAConverter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CAConverterExtended.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CACustomRender.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CAMetadata.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CAPlayer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CAPositionalAudio.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>CARecorder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CAStreamFormatTester.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CAStreamOpenAL.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>CAToneFileGenerator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CoreAudioDemoCode copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOSBackgroundingTone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>iOSPlayThrough.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D050A5927EE9A25008F2ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D11B59427E8B3B900A6ACC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D1E1ABE27DECFA00052CB16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D36DAE427F9188B00C49633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3B068B27E8C40000291BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D45C3F327DE19BD004E02C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D530CC427E928980076CF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D63D1A727E7811E006E2BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7820AF27DD807C00C8EFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D8ADCBB27EE8FE600145DE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DA0A9D527FA0B330013443C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DABA08327E0B8BD004E1328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DAD46D527ED0BB400EE7663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB3737B27E3FD410006DAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DBEDD6F27E7F075006E5F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DC1CF1427F2422800397F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DC93E0627EA6EDF000DD987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DCEDE0C27F8CC490066E851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE33F0527F5039C00A6FA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DE488DD27DF953E003543CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
